* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Scheme */
:root {
    --header-height: 100px;
    --boardGame-gap: 20px;
    --text-color: #f7ebecff;
    --thistle: #ddbdd5ff;
    --celll-with-ship-player: rgb(26, 19, 97);
    --celll-with-ship-computer: rgb(97, 19, 19);
    --cell-bg-color: rgb(24, 56, 85);
    --cell-bg-color-hover: rgb(35, 82, 126);
    --bg-color: #1d1e2cff;
    --player-grid-color: blue;
    --computer-grid-color: red;
}

body {
    container-type: inline-size;
    background-color: var(--bg-color);
    width: 100svw;
    height: 100svh;
    color: var(--text-color);
}

.header {
    height: var(--header-height);
    padding: 40px;
    text-align: center;
}

.info-text {
    color: var(--text-color);
    text-align: center;
}

.main {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--boardGame-gap);
    width: 100svw;
    padding: 40px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
    gap: 0;
    width: 100%;
}

@container (max-width: 600px) {
    .main {
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 1fr;
    }
}

.cell {
    border: 1px solid var(--player-grid-color);
    background-color: var(--cell-bg-color);
    aspect-ratio: 1;
    &.computer-cell {
        border: 1px solid var(--computer-grid-color);
    }
    &.occupied{ /*.player-cell {*/
        background-color: var(--celll-with-ship-player);
        &.computer-cell {
            box-sizing: border-box; /* Remove */
            /* Dont show ship cells before they get tagged with hit class*/
        }
    }
    &.bombed{
        background-color: lightcoral;
        &.occupied{
            background-color: red;
        }
    }
}