* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    container-type: inline-size;
}

/* Color Scheme */
:root {
    color: auto;
    --header-height: 100px;
    --boardGame-gap: 20px;
}

.header {
    height: var(--header-height);
}

.main {
    display: grid;
    place-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr auto 1fr;
    gap: var(--boardGame-gap);
    width: 100svw;
    padding: 40px;
}

.gameboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    aspect-ratio: 1;
    gap: 0;
    width: 100%;
}

@container (max-width: 600px) {
    .main {
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: 1fr;
    }
}

.cell {
    border: 1px solid red;
    aspect-ratio: 1;
    &.computer-cell {
        border: 1px solid blue;
    }
    &.occupied {
        background: grey;
    }
}